:root{
   --white: #cdcdcd;
   --black: #2e2a2a;
}

.body_div{
    /*background-image: url("../Resources/Fotos/Photo4.jpg"); /* The image used */
    /*background-color: #cccccc; /* Used if the image is unavailable */
    height: 50em; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5) */
    background-image: linear-gradient(
        rgba(83,68,68, .8),
        rgba(83,68,68, 0.8),
        rgba(83,68,68, 0.7),
        rgba(83,68,68, 0.7),
        rgba(83,68,68, 0.5),
        rgba(83,68,68, 0.4),
        rgba(83,68,68, 0.5)
    ),
    url("../Resources/Fotos/Photo3.jpg")
    /* url("../Resources/Imagenes/design.jpg") */
 }

 .body_div__nav{
    font-size: 200%;
    text-justify: inter-word;
    text-align: center;
    font-family: Lucida Bright, Georgia,serif;
    display: inline;
 }

 .body_div__header{
    text-align: center;
    padding-top: 15px;
 }

 #horizontal-list{
    display: inline;
    list-style: none;
    padding-top: 1.5%;
    width: 50%;
 }

 #horizontal-list li{
    display: inline;
    margin-left: 3%;
 }

 #horizontal-list li a{
    text-decoration: none;
    color: azure;
    border-bottom: 4px solid azure;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 2px;
 }

 #horizontal-list li a:hover{
    color: var(--black);
    border-bottom-color: var(--black);
    transition: 350ms;
 }

 /* #initial .container{
   display: flex;
   justify-content: space-around;
 } */

 .container{
   max-width: 2040px;
   width: 90%;
   margin: auto;
 }

 #main__photo{
    content:url("../Resources/Fotos/Photo5.jpg");
    margin-top: 0px;
    margin-left: 3%;
    height: 75%;
    width: 75%;
    border-radius: 20%;
 }

 .initial_title{
   font-family: 'Courgette', 'Charm', 'Charm', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30%;
    left: 33%;
    border-top: solid 2px var(--white);
    border-bottom: solid 2px var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
 }

 #initial_title_h1{
   font-size: 100px;
   color: azure;
 }

 .initial_nombre{
    font-family: 'Charm', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    color: rgba(214, 206, 206, 0.972);
    display: inline-block;
    top: 450px;
    width: 45%;
    text-align: center;
    border: solid 10px rgba(214, 206, 206, 0.972);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
}

#initial_nombre_h1{
   font-size: 40px;
}

#initial_nombre_h2{
   font-size: 25px;
}

.initial_navigation{
   font-family: 'Lucida Bright', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   position: relative;
   width: 200px;
   top: 450px;
   left: 45%;
}

.initial_navigation input, h1{
   display: inline;
   color:white;
}

.initial_navigation input{
   background-color: transparent;
   font-size: 35px;
   border: none;
   outline: none;
   opacity: .5;
}

.initial_navigation input:hover{
   cursor: pointer;
   opacity: 1;
}

.initial_rectangule div{
   background-color: white;
   position: relative;
   width: 55px;
   height: 10px;
   border-radius: 5px;
   top: 460px;
   left: 44%;
   display: inline-flex;
   margin-left: 10px;
   opacity: .5;
}

.initial_social{
   position: fixed;
   color: white;
   width: 300px;
   height: 250px;
   background-color:rgba(195, 195, 195, .5);
   border-radius: 30px;
   left: 80%;
   top: 65%;
   animation: float 2s infinite
}

.initial_social h1{
   display: block;
   position: relative;
   left: 30px;
}

.initial_social img{
   display: inline;
   margin: 10px 10px 3px 20px;

}

.initial_social img:hover{
   transform: scale(1.1);
   cursor: pointer;
   transition: 200ms;
}

@keyframes float {
   0%,
   100% {
     transform: translateY(0);
   }

   50% {
     transform: translateY(-10px);
   }
 }

 #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.7s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #edededbb;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 10px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}




